# File /etc/sssd/sssd.conf is config for sssd
# This file is managed by ansible. Don't edit it manually.

[sssd]
{% if sssd_debug_level is defined %}
debug_level = {{ sssd_debug_level }}
{% endif %}
{% if sssd_debug is defined %}
debug = {{ sssd_debug }}
{% endif %}
{% if sssd_debug_timestamps is defined %}
debug_timestamps = {{ sssd_debug_timestamps }}
{% endif %}
{% if sssd_debug_microseconds is defined %}
debug_microseconds = {{ sssd_debug_microseconds }}
{% endif %}
{% if sssd_debug_backtrace_enabled is defined %}
debug_backtrace_enabled = {{ sssd_debug_backtrace_enabled }}
{% endif %}
config_file_version = 2
services = {% if sssd_services is defined %}{% for srv in sssd_services %}{{ srv.name }}{% if not loop.last %},{% endif %}{% endfor %}{% else %}{{ sssd_default_services_list }}{% endif %}

{% if sssd_reconnection_retries is defined %}
reconnection_retries = {{ sssd_reconnection_retries }}
{% endif %}
domains = {% if sssd_domains is defined %}{% for dmn in sssd_domains %}{{ dmn.name }}{% if not loop.last %},{% endif %}{% endfor %}{% else %}{{ common_domain_name }}{% endif %}
{% if sssd_re_expression is defined %}
re_expression = {{ sssd_re_expression }}
{% endif %}
{% if sssd_full_name_format is defined %}
full_name_format = {{ sssd_full_name_format }}
{% endif %}
{% if sssd_monitor_resolv_conf is defined %}
monitor_resolv_conf = {{ sssd_monitor_resolv_conf }}
{% endif %}
{% if sssd_try_inotify is defined %}
try_inotify = {{ sssd_try_inotify }}
{% endif %}
{% if sssd_krb5_rcache_dir is defined %}
krb5_rcache_dir = {{ sssd_krb5_rcache_dir }}
{% endif %}
{% if sssd_user is defined %}
user = {{ sssd_user }}
{% endif %}
{% if sssd_default_domain_suffix is defined %}
default_domain_suffix = {{ sssd_default_domain_suffix }}
{% endif %}
{% if sssd_override_space is defined %}
override_space = {{ sssd_override_space }}
{% endif %}
{% if sssd_certificate_verification is defined %}
certificate_verification = {% for cv in sssd_certificate_verification %}{{ cv }}{% if not loop.last %},{% endif %}{% endfor %}
{% endif %}
{% if sssd_disable_netlink is defined %}
 disable_netlink= {{ sssd_disable_netlink }}
{% endif %}
{% if sssd_enable_files_domain is defined %}
enable_files_domain = {{ sssd_enable_files_domain }}
{% endif %}
{% if sssd_domain_resolution_order is defined %}
domain_resolution_order = {{ sssd_domain_resolution_order }}
{% endif %}


{% if sssd_services is defined %}
{% for srv in sssd_services %}
[{{ srv.name }}]
{% if srv.options is defined %}
{% for key,value in srv.options.items() %}
{{ key }} = {{ value }}
{% endfor %}
{% endif %}

{% endfor %}
{% endif %}

{% for dmn in sssd_domains %}
[domain/{{ dmn.name }}]
{% for key,value in dmn.options.items() %}
{{ key }} = {{ value }}
{% if key == "id_provider" and value == "ldap" %}
ldap_uri = {% for ldap_host in groups[ldap_ansible_group] %}ldaps://{{ hostvars[ldap_host]['ansible_host']}}{% if not loop.last %},{% endif %}{% endfor %}

{% endif %}
{% if key == "auth_provider" and value == "krb5" %}
krb5_server = {% for krb_host in groups[krb_servers_group] %}{{ hostvars[krb_host]['ansible_host']}}{% if not loop.last %},{% endif %}{% endfor %}

{% endif %}
{% endfor %}
{% endfor %}

