# File /etc/sssd/sssd.conf is config for sssd
# This file is managed by ansible. Don't edit it manually.

[sssd]
{# "START: common debug variables, which is available from all sections" #}
{% if krb_sssd_debug_level is defined %}
debug_level = {{ krb_sssd_debug_level }}
{% endif %}
{% if krb_sssd_debug is defined %}
debug = {{ krb_sssd_debug }}
{% endif %}
{% if krb_sssd_debug_timestamps is defined %}
debug_timestamps = {{ krb_sssd_debug_timestamps }}
{% endif %}
{% if krb_sssd_debug_microseconds is defined %}
debug_microseconds = {{ krb_sssd_debug_microseconds }}
{% endif %}
{% if krb_sssd_debug_backtrace_enabled is defined %}
debug_backtrace_enabled = {{ krb_sssd_debug_backtrace_enabled }}
{% endif %}
{# "END: common debug variables, which is available from all sections" #}
config_file_version = 2
{# "there is only list of services necessary" #}
services = {{ krb_sssd_services_list }}
{% if krb_sssd_reconnection_retries is defined %}
reconnection_retries = {{ krb_sssd_reconnection_retries }}
{% endif %}
domains = {% if krb_sssd_domains is defined %}{% for dmn in krb_sssd_domains %}{{ dmn.key }}{% if not loop.last %},{% endif %}{% endfor %}{% else %}{{ common_domain_name }}{% endif %}
{% if krb_sssd_re_expression is defined %}
re_expression = {{ krb_sssd_re_expression }}
{% endif %}
{% if krb_sssd_full_name_format is defined %}
full_name_format = {{ krb_sssd_full_name_format }}
{% endif %}
{% if krb_sssd_monitor_resolv_conf is defined %}
monitor_resolv_conf = {{ krb_sssd_monitor_resolv_conf }}
{% endif %}
{% if krb_sssd_try_inotify is defined %}
try_inotify = {{ krb_sssd_try_inotify }}
{% endif %}
{% if krb_sssd_krb5_rcache_dir is defined %}
krb5_rcache_dir = {{ krb_sssd_krb5_rcache_dir }}
{% endif %}
{% if krb_sssd_user is defined %}
user = {{ krb_sssd_user }}
{% endif %}
{% if krb_sssd_default_domain_suffix is defined %}
default_domain_suffix = {{ krb_sssd_default_domain_suffix }}
{% endif %}
{% if krb_sssd_override_space is defined %}
override_space = {{ krb_sssd_override_space }}
{% endif %}
{% if krb_sssd_certificate_verification is defined %}
certificate_verification = {% for cv in krb_sssd_certificate_verification %}{{ cv }}{% if not loop.last %},{% endif %}{% endfor %}
{% endif %}
{% if krb_sssd_disable_netlink is defined %}
 disable_netlink= {{ krb_sssd_disable_netlink }}
{% endif %}
{% if krb_sssd_enable_files_domain is defined %}
enable_files_domain = {{ krb_sssd_enable_files_domain }}
{% endif %}
{% if krb_sssd_domain_resolution_order is defined %}
domain_resolution_order = {{ krb_sssd_domain_resolution_order }}
{% endif %}


{# "START: services - nss, pam, autofs, ssh" #}
{% if krb_sssd_services is defined %}
{% for srv in krb_sssd_services %}
[{{ srv.name }}]
{% if srv.options is defined %}
{% for value in srv.options %}
{% if value.debug_level is defined %}
debug_level = {{ value.debug_level }}
{% endif %}
{% if value.debug is defined %}
debug = {{ value.debug }}
{% endif %}
{% if value.debug_timestamps is defined %}
debug_timestamps = {{ value.debug_timestamps }}
{% endif %}
{% if value.debug_microseconds is defined %}
debug_microseconds = {{ value.debug_microseconds }}
{% endif %}
{% if value.debug_backtrace_enabled is defined %}
debug_backtrace_enabled = {{ value.debug_backtrace_enabled }}
{% endif %}
{% if value.reconnection_retries is defined %}
reconnection_retries = {{ value.reconnection_retries }}
{% endif %}
{% if value.fd_limit is defined %}
fd_limit = {{ value.fd_limit }}
{% endif %}
{% if value.client_idle_timeout is defined %}
client_idle_timeout = {{ value.client_idle_timeout }}
{% endif %}
{% if value.offline_timeout is defined %}
offline_timeout = {{ value.offline_timeout }}
{% endif %}
{% if value.offline_timeout_max is defined %}
offline_timeout_max = {{ value.offline_timeout_max }}
{% endif %}
{% if value.offline_timeout_random_offset is defined %}
offline_timeout_random_offset = {{ value.offline_timeout_random_offset }}
{% endif %}
{% if value.offline_timeout_random_offset is defined %}
offline_timeout_random_offset = {{ value.offline_timeout_random_offset }}
{% endif %}
{% if value.responder_idle_timeout is defined %}
responder_idle_timeout = {{ value.responder_idle_timeout }}
{% endif %}
{% if value.cache_first is defined %}
cache_first = {{ value.cache_first }}
{% endif %}
{# "START: NSS service specific variables" #}
{% if srv.name == 'nss' %}
{% if value.enum_cache_timeout is defined %}
enum_cache_timeout = {{ value.enum_cache_timeout }}
{% endif %}
{% if value.entry_cache_nowait_percentage is defined %}
entry_cache_nowait_percentage = {{ value.entry_cache_nowait_percentage }}
{% endif %}
{% if value.entry_negative_timeout is defined %}
entry_negative_timeout = {{ value.entry_negative_timeout }}
{% endif %}
{% if value.local_negative_timeout is defined %}
local_negative_timeout = {{ value.local_negative_timeout }}
{% endif %}
{% if value.filter_users is defined %}
filter_users = {{ value.filter_users }}
{% endif %}
{% if value.filter_groups is defined %}
filter_groups = {{ value.filter_groups }}
{% endif %}
{% if value.filter_users_in_groups is defined %}
filter_users_in_groups = {{ value.filter_users_in_groups }}
{% endif %}
{% if value.override_homedir is defined %}
override_homedir = {{ value.override_homedir }}
{% endif %}
{% if value.homedir_substring is defined %}
homedir_substring = {{ value.homedir_substring }}
{% endif %}
{% if value.fallback_homedir is defined %}
fallback_homedir = {{ value.fallback_homedir }}
{% endif %}
{% if value.override_shell is defined %}
override_shell = {{ value.override_shell }}
{% endif %}
{% if value.allowed_shells is defined %}
allowed_shells = {{ value.allowed_shells }}
{% endif %}
{% if value.vetoed_shells is defined %}
vetoed_shells = {{ value.vetoed_shells }}
{% endif %}
{% if value.shell_fallback is defined %}
shell_fallback = {{ value.shell_fallback }}
{% endif %}
{% if value.default_shell is defined %}
default_shell = {{ value.default_shell }}
{% endif %}
{% if value.get_domains_timeout is defined %}
get_domains_timeout = {{ value.get_domains_timeout }}
{% endif %}
{% if value.memcache_timeout is defined %}
memcache_timeout = {{ value.memcache_timeout }}
{% endif %}
{% if value.memcache_size_passwd is defined %}
memcache_size_passwd = {{ value.memcache_size_passwd }}
{% endif %}
{% if value.memcache_size_group is defined %}
memcache_size_group = {{ value.memcache_size_group }}
{% endif %}
{% if value.memcache_size_initgroups is defined %}
memcache_size_initgroups = {{ value.memcache_size_initgroups }}
{% endif %}
{% if value.user_attributes is defined %}
user_attributes = {{ value.user_attributes }}
{% endif %}
{% if value.pwfield is defined %}
pwfield = {{ value.pwfield }}
{% endif %}
{% endif %}
{# "END: NSS service specific variables" #}
{# "START: PAM service specific variables" #}
{% if srv.name == 'pam' %}
{% if value.offline_credentials_expiration is defined %}
offline_credentials_expiration = {{ value.offline_credentials_expiration }}
{% endif %}
{% if value.offline_failed_login_attempts is defined %}
offline_failed_login_attempts = {{ value.offline_failed_login_attempts }}
{% endif %}
{% if value.offline_failed_login_delay is defined %}
offline_failed_login_delay = {{ value.offline_failed_login_delay }}
{% endif %}
{% if value.pam_verbosity is defined %}
pam_verbosity = {{ value.pam_verbosity }}
{% endif %}
{% if value.pam_response_filter is defined %}
pam_response_filter = {{ value.pam_response_filter }}
{% endif %}
{% if value.pam_id_timeout is defined %}
pam_id_timeout = {{ value.pam_id_timeout }}
{% endif %}
{% if value.pam_pwd_expiration_warning is defined %}
pam_pwd_expiration_warning = {{ value.pam_pwd_expiration_warning }}
{% endif %}
{% if value.get_domains_timeout is defined %}
get_domains_timeout = {{ value.get_domains_timeout }}
{% endif %}
{% if value.pam_trusted_users is defined %}
pam_trusted_users = {{ value.pam_trusted_users }}
{% endif %}
{% if value.pam_public_domains is defined %}
pam_public_domains = {{ value.pam_public_domains }}
{% endif %}
{% if value.pam_account_expired_message is defined %}
pam_account_expired_message = {{ value.pam_account_expired_message }}
{% endif %}
{% if value.pam_account_locked_message is defined %}
pam_account_locked_message = {{ value.pam_account_locked_message }}
{% endif %}
{% if value.pam_cert_auth is defined %}
pam_cert_auth = {{ value.pam_cert_auth }}
{% endif %}
{% if value.pam_cert_db_path is defined %}
pam_cert_db_path = {{ value.pam_cert_db_path }}
{% endif %}
{% if value.pam_cert_verification is defined %}
pam_cert_verification = {{ value.pam_cert_verification }}
{% endif %}
{% if value.p11_child_timeout is defined %}
p11_child_timeout = {{ value.p11_child_timeout }}
{% endif %}
{% if value.pam_app_services is defined %}
pam_app_services = {{ value.pam_app_services }}
{% endif %}
{% if value.pam_p11_allowed_services is defined %}
pam_p11_allowed_services = {{ value.pam_p11_allowed_services }}
{% endif %}
{% if value.p11_wait_for_card_timeout is defined %}
p11_wait_for_card_timeout = {{ value.p11_wait_for_card_timeout }}
{% endif %}
{% if value.p11_uri is defined %}
p11_uri = {{ value.p11_uri }}
{% endif %}
{% if value.pam_initgroups_scheme is defined %}
pam_initgroups_scheme = {{ value.pam_initgroups_scheme }}
{% endif %}
{% if value.pam_gssapi_services is defined %}
pam_gssapi_services = {{ value.pam_gssapi_services }}
{% endif %}
{% if value.pam_gssapi_check_upn is defined %}
pam_gssapi_check_upn = {{ value.pam_gssapi_check_upn }}
{% endif %}
{% if value.pam_gssapi_indicators_map is defined %}
pam_gssapi_indicators_map = {{ value.pam_gssapi_indicators_map }}
{% endif %}
{% endif %}
{# "END: PAM service specific variables" #}
{# "START: AUTOFS service specific variables" #}
{% if srv.name == 'autofs' %}
{% if value.autofs_negative_timeout is defined %}
autofs_negative_timeout = {{ value.autofs_negative_timeout }}
{% endif %}
{# "END: AUTOFS service specific variables" #}
{% endif %}
{# "START: SSH service specific variables" #}
{% if srv.name == 'ssh' %}
{% if value.ssh_hash_known_hosts is defined %}
ssh_hash_known_hosts = {{ value.ssh_hash_known_hosts }}
{% endif %}
{% if value.ssh_known_hosts_timeout is defined %}
ssh_known_hosts_timeout = {{ value.ssh_known_hosts_timeout }}
{% endif %}
{% if value.ssh_use_certificate_keys is defined %}
ssh_use_certificate_keys = {{ value.ssh_use_certificate_keys }}
{% endif %}
{% if value.ssh_use_certificate_matching_rules is defined %}
ssh_use_certificate_matching_rules = {{ value.ssh_use_certificate_matching_rules }}
{% endif %}
{% if value.ca_db is defined %}
ca_db = {{ value.ca_db }}
{% endif %}
{% endif %}
{# "END: SSH service specific variables" #}
{% endfor %}
{% endif %}

{% endfor %}
{% endif %}
{# "END: services - nss, pam, autofs, ssh" #}
{# "START: DOMAINS, if defined" #}
{% if krb_sssd_domains is defined %}
{% for dmn in krb_sssd_domains %}
[domain/{{ dmn.name }}]
{% for value in dmn.options %}
{% if value.debug_level is defined %}
debug_level = {{ value.debug_level }}
{% endif %}
{% if value.debug is defined %}
debug = {{ value.debug }}
{% endif %}
{% if value.debug_timestamps is defined %}
debug_timestamps = {{ value.debug_timestamps }}
{% endif %}
{% if value.debug_microseconds is defined %}
debug_microseconds = {{ value.debug_microseconds }}
{% endif %}
{% if value.debug_backtrace_enabled is defined %}
debug_backtrace_enabled = {{ value.debug_backtrace_enabled }}
{% endif %}
{% if value.enabled is defined %}
enabled = {{ value.enabled }}
{% endif %}
{% if value.domain_type is defined %}
domain_type = {{ value.domain_type }}
{% endif %}
{% if value.min_id is defined %}
min_id = {{ value.min_id }}
{% endif %}
{% if value.max_id is defined %}
max_id = {{ value.max_id }}
{% endif %}
{% if value.enumerate is defined %}
enumerate = {{ value.enumerate }}
{% endif %}
{% if value.subdomain_enumerate is defined %}
subdomain_enumerate = {{ value.subdomain_enumerate }}
{% endif %}
{% if value.entry_cache_timeout is defined %}
entry_cache_timeout = {{ value.entry_cache_timeout }}
{% endif %}
{% if value.entry_cache_user_timeout is defined %}
entry_cache_user_timeout = {{ value.entry_cache_user_timeout }}
{% endif %}
{% if value.entry_cache_group_timeout is defined %}
entry_cache_group_timeout = {{ value.entry_cache_group_timeout }}
{% endif %}
{% if value.entry_cache_netgroup_timeout is defined %}
entry_cache_netgroup_timeout = {{ value.entry_cache_netgroup_timeout }}
{% endif %}
{% if value.entry_cache_service_timeout is defined %}
entry_cache_service_timeout = {{ value.entry_cache_service_timeout }}
{% endif %}
{% if value.entry_cache_resolver_timeout is defined %}
entry_cache_resolver_timeout = {{ value.entry_cache_resolver_timeout }}
{% endif %}
{% if value.entry_cache_autofs_timeout is defined %}
entry_cache_autofs_timeout = {{ value.entry_cache_autofs_timeout }}
{% endif %}
{% if value.entry_cache_ssh_host_timeout is defined %}
entry_cache_ssh_host_timeout = {{ value.entry_cache_ssh_host_timeout }}
{% endif %}
{% if value.entry_cache_computer_timeout is defined %}
entry_cache_computer_timeout = {{ value.entry_cache_computer_timeout }}
{% endif %}
{% if value.refresh_expired_interval is defined %}
refresh_expired_interval = {{ value.refresh_expired_interval }}
{% endif %}
{% if value.cache_credentials is defined %}
cache_credentials = {{ value.cache_credentials }}
{% endif %}
{% if value.cache_credentials_minimal_first_factor_length is defined %}
cache_credentials_minimal_first_factor_length = {{ value.cache_credentials_minimal_first_factor_length }}
{% endif %}
{% if value.account_cache_expiration is defined %}
account_cache_expiration = {{ value.account_cache_expiration }}
{% endif %}
{% if value.pwd_expiration_warning is defined %}
pwd_expiration_warning = {{ value.pwd_expiration_warning }}
{% endif %}
{# "id_provider should be defined" #}
id_provider = {{ value.id_provider }}
{% if value.use_fully_qualified_names is defined %}
use_fully_qualified_names = {{ value.use_fully_qualified_names }}
{% endif %}
{% if value.ignore_group_members is defined %}
ignore_group_members = {{ value.ignore_group_members }}
{% endif %}
{% if value.auth_provider is defined %}
auth_provider = {{ value.auth_provider }}
{% endif %}
{% if value.access_provider is defined %}
access_provider = {{ value.access_provider }}
{% endif %}
{% if value.chpass_provider is defined %}
chpass_provider = {{ value.chpass_provider }}
{% endif %}
{% if value.selinux_provider is defined %}
selinux_provider = {{ value.selinux_provider }}
{% endif %}
{% if value.subdomains_provider is defined %}
subdomains_provider = {{ value.subdomains_provider }}
{% endif %}
{% if value.session_provider is defined %}
session_provider = {{ value.session_provider }}
{% endif %}
{% if value.autofs_provider is defined %}
autofs_provider = {{ value.autofs_provider }}
{% endif %}
{% if value.hostid_provider is defined %}
hostid_provider = {{ value.hostid_provider }}
{% endif %}
{% if value.resolver_provider is defined %}
resolver_provider = {{ value.resolver_provider }}
{% endif %}
{% if value.re_expression is defined %}
re_expression = {{ value.re_expression }}
{% endif %}
{% if value.full_name_format is defined %}
full_name_format = {{ value.full_name_format }}
{% endif %}
{% if value.lookup_family_order is defined %}
lookup_family_order = {{ value.lookup_family_order }}
{% endif %}
{% if value.dns_resolver_server_timeout is defined %}
dns_resolver_server_timeout = {{ value.dns_resolver_server_timeout }}
{% endif %}
{% if value.dns_resolver_op_timeout is defined %}
dns_resolver_op_timeout = {{ value.dns_resolver_op_timeout }}
{% endif %}
{% if value.dns_resolver_server_timeout is defined %}
dns_resolver_server_timeout = {{ value.dns_resolver_server_timeout }}
{% endif %}
{% if value.dns_resolver_op_timeout is defined %}
dns_resolver_op_timeout = {{ value.dns_resolver_op_timeout }}
{% endif %}
{% if value.dns_resolver_timeout is defined %}
dns_resolver_timeout = {{ value.dns_resolver_timeout }}
{% endif %}
{% if value.dns_discovery_domain is defined %}
dns_discovery_domain = {{ value.dns_discovery_domain }}
{% endif %}
{% if value.override_gid is defined %}
override_gid = {{ value.override_gid }}
{% endif %}
{% if value.case_sensitive is defined %}
case_sensitive = {{ value.case_sensitive }}
{% endif %}
{% if value.subdomain_inherit is defined %}
subdomain_inherit = {{ value.subdomain_inherit }}
{% endif %}
{% if value.subdomain_homedir is defined %}
subdomain_homedir = {{ value.subdomain_homedir }}
{% endif %}
{% if value.realmd_tags is defined %}
realmd_tags = {{ value.realmd_tags }}
{% endif %}
{% if value.cached_auth_timeout is defined %}
cached_auth_timeout = {{ value.cached_auth_timeout }}
{% endif %}
{% if value.auto_private_groups is defined %}
auto_private_groups = {{ value.auto_private_groups }}
{% endif %}
{% if value.proxy_pam_target is defined %}
proxy_pam_target = {{ value.proxy_pam_target }}
{% endif %}
{% if value.proxy_lib_name is defined %}
proxy_lib_name = {{ value.proxy_lib_name }}
{% endif %}
{% if value.proxy_resolver_lib_name is defined %}
proxy_resolver_lib_name = {{ value.proxy_resolver_lib_name }}
{% endif %}
{% if value.proxy_fast_alias is defined %}
proxy_fast_alias = {{ value.proxy_fast_alias }}
{% endif %}
{% if value.proxy_max_children is defined %}
proxy_max_children = {{ value.proxy_max_children }}
{% endif %}
{# "START: LDAP-depend variables" #}
{% if value.id_provider == "ldap" %}
{# "ldap_uri should be defined" #}
ldap_uri = {% for ldap_host in groups[ldap_ansible_group] %}ldaps://{{ hostvars[ldap_host]['ansible_host']}}{% if not loop.last %},{% endif %}{% endfor %}
{% if value.ldap_backup_uri is defined %}
ldap_backup_uri = {{ value.ldap_backup_uri }}
{% endif %}
ldap_search_base = value.ldap_search_base
{% if value.ldap_schema is defined %}
ldap_schema = {{ value.ldap_schema }}
{% endif %}
{% if value.ldap_pwmodify_mode is defined %}
ldap_pwmodify_mode = {{ value.ldap_pwmodify_mode }}
{% endif %}
{% if value.ldap_default_bind_dn is defined %}
ldap_default_bind_dn = {{ value.ldap_default_bind_dn }}
{% endif %}
{% if value.ldap_default_authtok_type is defined %}
ldap_default_authtok_type = {{ value.ldap_default_authtok_type }}
{% endif %}
{% if value.ldap_default_authtok is defined %}
ldap_default_authtok = {{ value.ldap_default_authtok }}
{% endif %}
{% if value.ldap_force_upper_case_realm is defined %}
ldap_force_upper_case_realm = {{ value.ldap_force_upper_case_realm }}
{% endif %}
{% if value.ldap_enumeration_refresh_timeout is defined %}
ldap_enumeration_refresh_timeout = {{ value.ldap_enumeration_refresh_timeout }}
{% endif %}
{% if value.ldap_purge_cache_timeout is defined %}
ldap_purge_cache_timeout = {{ value.ldap_purge_cache_timeout }}
{% endif %}
{% if value.ldap_group_nesting_level is defined %}
ldap_group_nesting_level = {{ value.ldap_group_nesting_level }}
{% endif %}
{% if value.ldap_use_tokengroups is defined %}
ldap_use_tokengroups = {{ value.ldap_use_tokengroups }}
{% endif %}
{% if value.ldap_host_search_base is defined %}
ldap_host_search_base = {{ value.ldap_host_search_base }}
{% endif %}
{% if value.ldap_service_search_base is defined %}
ldap_service_search_base = {{ value.ldap_service_search_base }}
{% endif %}
{% if value.ldap_iphost_search_base is defined %}
ldap_iphost_search_base = {{ value.ldap_iphost_search_base }}
{% endif %}
{% if value.ldap_ipnetwork_search_base is defined %}
ldap_ipnetwork_search_base = {{ value.ldap_ipnetwork_search_base }}
{% endif %}
{% if value.ldap_search_timeout is defined %}
ldap_search_timeout = {{ value.ldap_search_timeout }}
{% endif %}
{% if value.ldap_enumeration_search_timeout is defined %}
ldap_enumeration_search_timeout = {{ value.ldap_enumeration_search_timeout }}
{% endif %}
{% if value.ldap_network_timeout is defined %}
ldap_network_timeout = {{ value.ldap_network_timeout }}
{% endif %}
{% if value.ldap_opt_timeout is defined %}
ldap_opt_timeout = {{ value.ldap_opt_timeout }}
{% endif %}
{% if value.ldap_connection_expire_timeout is defined %}
ldap_connection_expire_timeout = {{ value.ldap_connection_expire_timeout }}
{% endif %}
{% if value.ldap_connection_expire_offset is defined %}
ldap_connection_expire_offset = {{ value.ldap_connection_expire_offset }}
{% endif %}
{% if value.ldap_page_size is defined %}
ldap_page_size = {{ value.ldap_page_size }}
{% endif %}
{% if value.ldap_disable_paging is defined %}
ldap_disable_paging = {{ value.ldap_disable_paging }}
{% endif %}
{% if value.ldap_disable_range_retrieval is defined %}
ldap_disable_range_retrieval = {{ value.ldap_disable_range_retrieval }}
{% endif %}
{% if value.ldap_sasl_minssf is defined %}
ldap_sasl_minssf = {{ value.ldap_sasl_minssf }}
{% endif %}
{% if value.ldap_sasl_maxssf is defined %}
ldap_sasl_maxssf = {{ value.ldap_sasl_maxssf }}
{% endif %}
{% if value.ldap_deref_threshold is defined %}
ldap_deref_threshold = {{ value.ldap_deref_threshold }}
{% endif %}
{% if value.ldap_tls_reqcert is defined %}
ldap_tls_reqcert = {{ value.ldap_tls_reqcert }}
{% endif %}
{% if value.ldap_tls_cacert is defined %}
ldap_tls_cacert = {{ value.ldap_tls_cacert }}
{% endif %}
{% if value.ldap_tls_cacertdir is defined %}
ldap_tls_cacertdir = {{ value.ldap_tls_cacertdir }}
{% endif %}
{% if value.ldap_tls_cert is defined %}
ldap_tls_cert = {{ value.ldap_tls_cert }}
{% endif %}
{% if value.ldap_tls_key is defined %}
ldap_tls_key = {{ value.ldap_tls_key }}
{% endif %}
{% if value.ldap_tls_cipher_suite is defined %}
ldap_tls_cipher_suite = {{ value.ldap_tls_cipher_suite }}
{% endif %}
{% if value.ldap_id_use_start_tls is defined %}
ldap_id_use_start_tls = {{ value.ldap_id_use_start_tls }}
{% endif %}
{% if value.ldap_id_mapping is defined %}
ldap_id_mapping = {{ value.ldap_id_mapping }}
{% endif %}
{% if value.ldap_min_id is defined %}
ldap_min_id = {{ value.ldap_min_id }}
{% endif %}
{% if value.ldap_max_id is defined %}
ldap_max_id = {{ value.ldap_max_id }}
{% endif %}
{% if value.ldap_sasl_mech is defined %}
ldap_sasl_mech = {{ value.ldap_sasl_mech }}
{% endif %}
{% if value.ldap_sasl_authid is defined %}
ldap_sasl_authid = {{ value.ldap_sasl_authid }}
{% endif %}
{% if value.ldap_sasl_realm is defined %}
ldap_sasl_realm = {{ value.ldap_sasl_realm }}
{% endif %}
{% if value.ldap_sasl_canonicalize is defined %}
ldap_sasl_canonicalize = {{ value.ldap_sasl_canonicalize }}
{% endif %}
{% if value.ldap_krb5_keytab is defined %}
ldap_krb5_keytab = {{ value.ldap_krb5_keytab }}
{% endif %}
{% if value.ldap_krb5_init_creds is defined %}
ldap_krb5_init_creds = {{ value.ldap_krb5_init_creds }}
{% endif %}
{% if value.ldap_krb5_ticket_lifetime is defined %}
ldap_krb5_ticket_lifetime = {{ value.ldap_krb5_ticket_lifetime }}
{% endif %}
{% if value.ldap_pwd_policy is defined %}
ldap_pwd_policy = {{ value.ldap_pwd_policy }}
{% endif %}
{% if value.ldap_referrals is defined %}
ldap_referrals = {{ value.ldap_referrals }}
{% endif %}
{% if value.ldap_dns_service_name is defined %}
ldap_dns_service_name = {{ value.ldap_dns_service_name }}
{% endif %}
{% if value.ldap_chpass_dns_service_name is defined %}
ldap_chpass_dns_service_name = {{ value.ldap_chpass_dns_service_name }}
{% endif %}
{% if value.ldap_chpass_update_last_change is defined %}
ldap_chpass_update_last_change = {{ value.ldap_chpass_update_last_change }}
{% endif %}
{% if value.ldap_access_filter is defined %}
ldap_access_filter = {{ value.ldap_access_filter }}
{% endif %}
{% if value.ldap_account_expire_policy is defined %}
ldap_account_expire_policy = {{ value.ldap_account_expire_policy }}
{% endif %}
{% if value.ldap_access_order is defined %}
ldap_access_order = {{ value.ldap_access_order }}
{% endif %}
{% if value.ldap_pwdlockout_dn is defined %}
ldap_pwdlockout_dn = {{ value.ldap_pwdlockout_dn }}
{% endif %}
{% if value.ldap_deref is defined %}
ldap_deref = {{ value.ldap_deref }}
{% endif %}
{% if value.ldap_rfc2307_fallback_to_local_users is defined %}
ldap_rfc2307_fallback_to_local_users = {{ value.ldap_rfc2307_fallback_to_local_users }}
{% endif %}
{% if value.wildcard_limit is defined %}
wildcard_limit = {{ value.wildcard_limit }}
{% endif %}
{% if value.ldap_library_debug_level is defined %}
ldap_library_debug_level = {{ value.ldap_library_debug_level }}
{% endif %}
{% if value.ldap_autofs_map_master_name is defined %}
ldap_autofs_map_master_name = {{ value.ldap_autofs_map_master_name }}
{% endif %}
{% if value.ldap_autofs_map_object_class is defined %}
ldap_autofs_map_object_class = {{ value.ldap_autofs_map_object_class }}
{% endif %}
{% if value.ldap_autofs_map_name is defined %}
ldap_autofs_map_name = {{ value.ldap_autofs_map_name }}
{% endif %}
{% if value.ldap_autofs_entry_object_class is defined %}
ldap_autofs_entry_object_class = {{ value.ldap_autofs_entry_object_class }}
{% endif %}
{% if value.ldap_autofs_entry_key is defined %}
ldap_autofs_entry_key = {{ value.ldap_autofs_entry_key }}
{% endif %}
{% if value.ldap_autofs_entry_value is defined %}
ldap_autofs_entry_value = {{ value.ldap_autofs_entry_value }}
{% endif %}
{% if value.ldap_netgroup_search_base is defined %}
ldap_netgroup_search_base = {{ value.ldap_netgroup_search_base }}
{% endif %}
{% if value.ldap_user_search_base is defined %}
ldap_user_search_base = {{ value.ldap_user_search_base }}
{% endif %}
{% if value.ldap_group_search_base is defined %}
ldap_group_search_base = {{ value.ldap_group_search_base }}
{% endif %}
{% if value.ldap_autofs_search_base is defined %}
ldap_autofs_search_base = {{ value.ldap_autofs_search_base }}
{% endif %}
{% endif %}
{# "END: LDAP-depend variables" #}
{# "START: Kerberos-depend variables" #}
{% if value.auth_provider is defined and value.auth_provider == "krb5" %}
{# "krb5_server should be defined" #}

krb5_server = {% for krb_host in groups[krb_servers_group] %}{{ hostvars[krb_host]['ansible_host']}}{% if not loop.last %},{% endif %}{% endfor %}
{% if value.krb5_backup_server is defined %}
krb5_backup_server = {{ value.krb5_backup_server }}
{% endif %}
{# "krb5_realm should be defined" #}

krb5_realm = value.krb5_realm
{% if value.krb5_kpasswd is defined %}
krb5_kpasswd = {{ value.krb5_kpasswd }}
{% endif %}
{% if value.krb5_ccachedir is defined %}
krb5_ccachedir = {{ value.krb5_ccachedir }}
{% endif %}
{% if value.krb5_ccname_template is defined %}
krb5_ccname_template = {{ value.krb5_ccname_template }}
{% endif %}
{% if value.krb5_keytab is defined %}
krb5_keytab = {{ value.krb5_keytab }}
{% endif %}
{% if value.krb5_store_password_if_offline is defined %}
krb5_store_password_if_offline = {{ value.krb5_store_password_if_offline }}
{% endif %}
{% if value.krb5_use_fast is defined %}
krb5_use_fast = {{ value.krb5_use_fast }}
{% endif %}
{% if value.krb5_fast_principal is defined %}
krb5_fast_principal = {{ value.krb5_fast_principal }}
{% endif %}
{% if value.krb5_use_kdcinfo is defined %}
krb5_use_kdcinfo = {{ value.krb5_use_kdcinfo }}
{% endif %}
{% if value.krb5_kdcinfo_lookahead is defined %}
krb5_kdcinfo_lookahead = {{ value.krb5_kdcinfo_lookahead }}
{% endif %}
{% if value.krb5_use_enterprise_principal is defined %}
krb5_use_enterprise_principal = {{ value.krb5_use_enterprise_principal }}
{% endif %}
{% if value.krb5_use_subdomain_realm is defined %}
krb5_use_subdomain_realm = {{ value.krb5_use_subdomain_realm }}
{% endif %}
{% if value.krb5_map_user is defined %}
krb5_map_user = {{ value.krb5_map_user }}
{% endif %}
{% if value.krb5_auth_timeout is defined %}
krb5_auth_timeout = {{ value.krb5_auth_timeout }}
{% endif %}
{% if value.krb5_validate is defined %}
krb5_validate = {{ value.krb5_validate }}
{% endif %}
{% if value.krb5_renewable_lifetime is defined %}
krb5_renewable_lifetime = {{ value.krb5_renewable_lifetime }}
{% endif %}
{% if value.krb5_lifetime is defined %}
krb5_lifetime = {{ value.krb5_lifetime }}
{% endif %}
{% if value.krb5_renew_interval is defined %}
krb5_renew_interval = {{ value.krb5_renew_interval }}
{% endif %}
{% if value.krb5_canonicalize is defined %}
krb5_canonicalize = {{ value.krb5_canonicalize }}
{% endif %}
{# "END: Kerberos-depend variables" #}
{% endif %}
{% endfor %}
{% endfor %}
{# "CONTINUE: DOMAINS - common_domain_name" #}
{% else %}
[domain/{{ common_domain_name }}]
{% if krb_sssd_default_domain_debug_level is defined %}
debug_level = {{ krb_sssd_default_domain_debug_level }}
{% endif %}
{% if krb_sssd_default_domain_debug is defined %}
debug = {{ krb_sssd_default_domain_debug }}
{% endif %}
{% if krb_sssd_default_domain_debug_timestamps is defined %}
debug_timestamps = {{ krb_sssd_default_domain_debug_timestamps }}
{% endif %}
{% if krb_sssd_default_domain_debug_microseconds is defined %}
debug_microseconds = {{ krb_sssd_default_domain_debug_microseconds }}
{% endif %}
{% if krb_sssd_default_domain_debug_backtrace_enabled is defined %}
debug_backtrace_enabled = {{ krb_sssd_default_domain_debug_backtrace_enabled }}
{% endif %}
{% if krb_sssd_default_domain_enabled is defined %}
enabled = {{ krb_sssd_default_domain_enabled }}
{% endif %}
{% if krb_sssd_default_domain_domain_type is defined %}
domain_type = {{ krb_sssd_default_domain_domain_type }}
{% endif %}
{% if krb_sssd_default_domain_min_id is defined %}
min_id = {{ krb_sssd_default_domain_min_id }}
{% endif %}
{% if krb_sssd_default_domain_max_id is defined %}
max_id = {{ krb_sssd_default_domain_max_id }}
{% endif %}
{% if krb_sssd_default_domain_enumerate is defined %}
enumerate = {{ krb_sssd_default_domain_enumerate }}
{% endif %}
{% if krb_sssd_default_domain_subdomain_enumerate is defined %}
subdomain_enumerate = {{ krb_sssd_default_domain_subdomain_enumerate }}
{% endif %}
{% if krb_sssd_default_domain_entry_cache_timeout is defined %}
entry_cache_timeout = {{ krb_sssd_default_domain_entry_cache_timeout }}
{% endif %}
{% if krb_sssd_default_domain_entry_cache_user_timeout is defined %}
entry_cache_user_timeout = {{ krb_sssd_default_domain_entry_cache_user_timeout }}
{% endif %}
{% if krb_sssd_default_domain_entry_cache_group_timeout is defined %}
entry_cache_group_timeout = {{ krb_sssd_default_domain_entry_cache_group_timeout }}
{% endif %}
{% if krb_sssd_default_domain_entry_cache_netgroup_timeout is defined %}
entry_cache_netgroup_timeout = {{ krb_sssd_default_domain_entry_cache_netgroup_timeout }}
{% endif %}
{% if krb_sssd_default_domain_entry_cache_service_timeout is defined %}
entry_cache_service_timeout = {{ krb_sssd_default_domain_entry_cache_service_timeout }}
{% endif %}
{% if krb_sssd_default_domain_entry_cache_resolver_timeout is defined %}
entry_cache_resolver_timeout = {{ krb_sssd_default_domain_entry_cache_resolver_timeout }}
{% endif %}
{% if krb_sssd_default_domain_entry_cache_autofs_timeout is defined %}
entry_cache_autofs_timeout = {{ krb_sssd_default_domain_entry_cache_autofs_timeout }}
{% endif %}
{% if krb_sssd_default_domain_entry_cache_ssh_host_timeout is defined %}
entry_cache_ssh_host_timeout = {{ krb_sssd_default_domain_entry_cache_ssh_host_timeout }}
{% endif %}
{% if krb_sssd_default_domain_entry_cache_computer_timeout is defined %}
entry_cache_computer_timeout = {{ krb_sssd_default_domain_entry_cache_computer_timeout }}
{% endif %}
{% if krb_sssd_default_domain_refresh_expired_interval is defined %}
refresh_expired_interval = {{ krb_sssd_default_domain_refresh_expired_interval }}
{% endif %}
{% if krb_sssd_default_domain_cache_credentials is defined %}
cache_credentials = {{ krb_sssd_default_domain_cache_credentials }}
{% endif %}
{% if krb_sssd_default_domain_cache_credentials_minimal_first_factor_length is defined %}
cache_credentials_minimal_first_factor_length = {{ krb_sssd_default_domain_cache_credentials_minimal_first_factor_length }}
{% endif %}
{% if krb_sssd_default_domain_account_cache_expiration is defined %}
account_cache_expiration = {{ krb_sssd_default_domain_account_cache_expiration }}
{% endif %}
{% if krb_sssd_default_domain_pwd_expiration_warning is defined %}
pwd_expiration_warning = {{ krb_sssd_default_domain_pwd_expiration_warning }}
{% endif %}
{# "id_provider should be defined" #}
id_provider = {{ krb_sssd_default_domain_id_provider }}
{% if krb_sssd_default_domain_use_fully_qualified_names is defined %}
use_fully_qualified_names = {{ krb_sssd_default_domain_use_fully_qualified_names }}
{% endif %}
{% if krb_sssd_default_domain_ignore_group_members is defined %}
ignore_group_members = {{ krb_sssd_default_domain_ignore_group_members }}
{% endif %}
{% if krb_sssd_default_domain_auth_provider is defined %}
auth_provider = {{ krb_sssd_default_domain_auth_provider }}
{% endif %}
{% if krb_sssd_default_domain_access_provider is defined %}
access_provider = {{ krb_sssd_default_domain_access_provider }}
{% endif %}
{% if krb_sssd_default_domain_chpass_provider is defined %}
chpass_provider = {{ krb_sssd_default_domain_chpass_provider }}
{% endif %}
{% if krb_sssd_default_domain_selinux_provider is defined %}
selinux_provider = {{ krb_sssd_default_domain_selinux_provider }}
{% endif %}
{% if krb_sssd_default_domain_subdomains_provider is defined %}
subdomains_provider = {{ krb_sssd_default_domain_subdomains_provider }}
{% endif %}
{% if krb_sssd_default_domain_session_provider is defined %}
session_provider = {{ krb_sssd_default_domain_session_provider }}
{% endif %}
{% if krb_sssd_default_domain_autofs_provider is defined %}
autofs_provider = {{ krb_sssd_default_domain_autofs_provider }}
{% endif %}
{% if krb_sssd_default_domain_hostid_provider is defined %}
hostid_provider = {{ krb_sssd_default_domain_hostid_provider }}
{% endif %}
{% if krb_sssd_default_domain_resolver_provider is defined %}
resolver_provider = {{ krb_sssd_default_domain_resolver_provider }}
{% endif %}
{% if krb_sssd_default_domain_re_expression is defined %}
re_expression = {{ krb_sssd_default_domain_re_expression }}
{% endif %}
{% if krb_sssd_default_domain_full_name_format is defined %}
full_name_format = {{ krb_sssd_default_domain_full_name_format }}
{% endif %}
{% if krb_sssd_default_domain_lookup_family_order is defined %}
lookup_family_order = {{ krb_sssd_default_domain_lookup_family_order }}
{% endif %}
{% if krb_sssd_default_domain_dns_resolver_server_timeout is defined %}
dns_resolver_server_timeout = {{ krb_sssd_default_domain_dns_resolver_server_timeout }}
{% endif %}
{% if krb_sssd_default_domain_dns_resolver_op_timeout is defined %}
dns_resolver_op_timeout = {{ krb_sssd_default_domain_dns_resolver_op_timeout }}
{% endif %}
{% if krb_sssd_default_domain_dns_resolver_server_timeout is defined %}
dns_resolver_server_timeout = {{ krb_sssd_default_domain_dns_resolver_server_timeout }}
{% endif %}
{% if krb_sssd_default_domain_dns_resolver_op_timeout is defined %}
dns_resolver_op_timeout = {{ krb_sssd_default_domain_dns_resolver_op_timeout }}
{% endif %}
{% if krb_sssd_default_domain_dns_resolver_timeout is defined %}
dns_resolver_timeout = {{ krb_sssd_default_domain_dns_resolver_timeout }}
{% endif %}
{% if krb_sssd_default_domain_dns_discovery_domain is defined %}
dns_discovery_domain = {{ krb_sssd_default_domain_dns_discovery_domain }}
{% endif %}
{% if krb_sssd_default_domain_override_gid is defined %}
override_gid = {{ krb_sssd_default_domain_override_gid }}
{% endif %}
{% if krb_sssd_default_domain_case_sensitive is defined %}
case_sensitive = {{ krb_sssd_default_domain_case_sensitive }}
{% endif %}
{% if krb_sssd_default_domain_subdomain_inherit is defined %}
subdomain_inherit = {{ krb_sssd_default_domain_subdomain_inherit }}
{% endif %}
{% if krb_sssd_default_domain_subdomain_homedir is defined %}
subdomain_homedir = {{ krb_sssd_default_domain_subdomain_homedir }}
{% endif %}
{% if krb_sssd_default_domain_realmd_tags is defined %}
realmd_tags = {{ krb_sssd_default_domain_realmd_tags }}
{% endif %}
{% if krb_sssd_default_domain_cached_auth_timeout is defined %}
cached_auth_timeout = {{ krb_sssd_default_domain_cached_auth_timeout }}
{% endif %}
{% if krb_sssd_default_domain_auto_private_groups is defined %}
auto_private_groups = {{ krb_sssd_default_domain_auto_private_groups }}
{% endif %}
{% if krb_sssd_default_domain_proxy_pam_target is defined %}
proxy_pam_target = {{ krb_sssd_default_domain_proxy_pam_target }}
{% endif %}
{% if krb_sssd_default_domain_proxy_lib_name is defined %}
proxy_lib_name = {{ krb_sssd_default_domain_proxy_lib_name }}
{% endif %}
{% if krb_sssd_default_domain_proxy_resolver_lib_name is defined %}
proxy_resolver_lib_name = {{ krb_sssd_default_domain_proxy_resolver_lib_name }}
{% endif %}
{% if krb_sssd_default_domain_proxy_fast_alias is defined %}
proxy_fast_alias = {{ krb_sssd_default_domain_proxy_fast_alias }}
{% endif %}
{% if krb_sssd_default_domain_proxy_max_children is defined %}
proxy_max_children = {{ krb_sssd_default_domain_proxy_max_children }}
{% endif %}
{# "START: LDAP-depend variables" #}
{% if krb_sssd_default_domain_id_provider == "ldap" %}
{# "ldap_uri should be defined" #}
ldap_uri = {% for ldap_host in groups[ldap_ansible_group] %}ldaps://{{ hostvars[ldap_host]['ansible_host']}}{% if not loop.last %},{% endif %}{% endfor %}
{% if krb_sssd_default_domain_ldap_backup_uri is defined %}
ldap_backup_uri = {{ krb_sssd_default_domain_ldap_backup_uri }}
{% endif %}

{# "ldap_search_base should be defined" #}
ldap_search_base = {{ ldap_base_suffix }}
{% if krb_sssd_default_domain_ldap_schema is defined %}
ldap_schema = {{ krb_sssd_default_domain_ldap_schema }}
{% endif %}
{% if krb_sssd_default_domain_ldap_pwmodify_mode is defined %}
ldap_pwmodify_mode = {{ krb_sssd_default_domain_ldap_pwmodify_mode }}
{% endif %}
{% if krb_sssd_default_domain_ldap_default_bind_dn is defined %}
ldap_default_bind_dn = {{ krb_sssd_default_domain_ldap_default_bind_dn }}
{% endif %}
{% if krb_sssd_default_domain_ldap_default_authtok_type is defined %}
ldap_default_authtok_type = {{ krb_sssd_default_domain_ldap_default_authtok_type }}
{% endif %}
{% if krb_sssd_default_domain_ldap_default_authtok is defined %}
ldap_default_authtok = {{ krb_sssd_default_domain_ldap_default_authtok }}
{% endif %}
{% if krb_sssd_default_domain_ldap_force_upper_case_realm is defined %}
ldap_force_upper_case_realm = {{ krb_sssd_default_domain_ldap_force_upper_case_realm }}
{% endif %}
{% if krb_sssd_default_domain_ldap_enumeration_refresh_timeout is defined %}
ldap_enumeration_refresh_timeout = {{ krb_sssd_default_domain_ldap_enumeration_refresh_timeout }}
{% endif %}
{% if krb_sssd_default_domain_ldap_purge_cache_timeout is defined %}
ldap_purge_cache_timeout = {{ krb_sssd_default_domain_ldap_purge_cache_timeout }}
{% endif %}
{% if krb_sssd_default_domain_ldap_group_nesting_level is defined %}
ldap_group_nesting_level = {{ krb_sssd_default_domain_ldap_group_nesting_level }}
{% endif %}
{% if krb_sssd_default_domain_ldap_use_tokengroups is defined %}
ldap_use_tokengroups = {{ krb_sssd_default_domain_ldap_use_tokengroups }}
{% endif %}
{% if krb_sssd_default_domain_ldap_host_search_base is defined %}
ldap_host_search_base = {{ krb_sssd_default_domain_ldap_host_search_base }}
{% endif %}
{% if krb_sssd_default_domain_ldap_service_search_base is defined %}
ldap_service_search_base = {{ krb_sssd_default_domain_ldap_service_search_base }}
{% endif %}
{% if krb_sssd_default_domain_ldap_iphost_search_base is defined %}
ldap_iphost_search_base = {{ krb_sssd_default_domain_ldap_iphost_search_base }}
{% endif %}
{% if krb_sssd_default_domain_ldap_ipnetwork_search_base is defined %}
ldap_ipnetwork_search_base = {{ krb_sssd_default_domain_ldap_ipnetwork_search_base }}
{% endif %}
{% if krb_sssd_default_domain_ldap_search_timeout is defined %}
ldap_search_timeout = {{ krb_sssd_default_domain_ldap_search_timeout }}
{% endif %}
{% if krb_sssd_default_domain_ldap_enumeration_search_timeout is defined %}
ldap_enumeration_search_timeout = {{ krb_sssd_default_domain_ldap_enumeration_search_timeout }}
{% endif %}
{% if krb_sssd_default_domain_ldap_network_timeout is defined %}
ldap_network_timeout = {{ krb_sssd_default_domain_ldap_network_timeout }}
{% endif %}
{% if krb_sssd_default_domain_ldap_opt_timeout is defined %}
ldap_opt_timeout = {{ krb_sssd_default_domain_ldap_opt_timeout }}
{% endif %}
{% if krb_sssd_default_domain_ldap_connection_expire_timeout is defined %}
ldap_connection_expire_timeout = {{ krb_sssd_default_domain_ldap_connection_expire_timeout }}
{% endif %}
{% if krb_sssd_default_domain_ldap_connection_expire_offset is defined %}
ldap_connection_expire_offset = {{ krb_sssd_default_domain_ldap_connection_expire_offset }}
{% endif %}
{% if krb_sssd_default_domain_ldap_page_size is defined %}
ldap_page_size = {{ krb_sssd_default_domain_ldap_page_size }}
{% endif %}
{% if krb_sssd_default_domain_ldap_disable_paging is defined %}
ldap_disable_paging = {{ krb_sssd_default_domain_ldap_disable_paging }}
{% endif %}
{% if krb_sssd_default_domain_ldap_disable_range_retrieval is defined %}
ldap_disable_range_retrieval = {{ krb_sssd_default_domain_ldap_disable_range_retrieval }}
{% endif %}
{% if krb_sssd_default_domain_ldap_sasl_minssf is defined %}
ldap_sasl_minssf = {{ krb_sssd_default_domain_ldap_sasl_minssf }}
{% endif %}
{% if krb_sssd_default_domain_ldap_sasl_maxssf is defined %}
ldap_sasl_maxssf = {{ krb_sssd_default_domain_ldap_sasl_maxssf }}
{% endif %}
{% if krb_sssd_default_domain_ldap_deref_threshold is defined %}
ldap_deref_threshold = {{ krb_sssd_default_domain_ldap_deref_threshold }}
{% endif %}
{% if krb_sssd_default_domain_ldap_tls_reqcert is defined %}
ldap_tls_reqcert = {{ krb_sssd_default_domain_ldap_tls_reqcert }}
{% endif %}
{% if krb_sssd_default_domain_ldap_tls_cacert is defined %}
ldap_tls_cacert = {{ krb_sssd_default_domain_ldap_tls_cacert }}
{% endif %}
{% if krb_sssd_default_domain_ldap_tls_cacertdir is defined %}
ldap_tls_cacertdir = {{ krb_sssd_default_domain_ldap_tls_cacertdir }}
{% endif %}
{% if krb_sssd_default_domain_ldap_tls_cert is defined %}
ldap_tls_cert = {{ krb_sssd_default_domain_ldap_tls_cert }}
{% endif %}
{% if krb_sssd_default_domain_ldap_tls_key is defined %}
ldap_tls_key = {{ krb_sssd_default_domain_ldap_tls_key }}
{% endif %}
{% if krb_sssd_default_domain_ldap_tls_cipher_suite is defined %}
ldap_tls_cipher_suite = {{ krb_sssd_default_domain_ldap_tls_cipher_suite }}
{% endif %}
{% if krb_sssd_default_domain_ldap_id_use_start_tls is defined %}
ldap_id_use_start_tls = {{ krb_sssd_default_domain_ldap_id_use_start_tls }}
{% endif %}
{% if krb_sssd_default_domain_ldap_id_mapping is defined %}
ldap_id_mapping = {{ krb_sssd_default_domain_ldap_id_mapping }}
{% endif %}
{% if krb_sssd_default_domain_ldap_min_id is defined %}
ldap_min_id = {{ krb_sssd_default_domain_ldap_min_id }}
{% endif %}
{% if krb_sssd_default_domain_ldap_max_id is defined %}
ldap_max_id = {{ krb_sssd_default_domain_ldap_max_id }}
{% endif %}
{% if krb_sssd_default_domain_ldap_sasl_mech is defined %}
ldap_sasl_mech = {{ krb_sssd_default_domain_ldap_sasl_mech }}
{% endif %}
{% if krb_sssd_default_domain_ldap_sasl_authid is defined %}
ldap_sasl_authid = {{ krb_sssd_default_domain_ldap_sasl_authid }}
{% endif %}
{% if krb_sssd_default_domain_ldap_sasl_realm is defined %}
ldap_sasl_realm = {{ krb_sssd_default_domain_ldap_sasl_realm }}
{% endif %}
{% if krb_sssd_default_domain_ldap_sasl_canonicalize is defined %}
ldap_sasl_canonicalize = {{ krb_sssd_default_domain_ldap_sasl_canonicalize }}
{% endif %}
{% if krb_sssd_default_domain_ldap_krb5_keytab is defined %}
ldap_krb5_keytab = {{ krb_sssd_default_domain_ldap_krb5_keytab }}
{% endif %}
{% if krb_sssd_default_domain_ldap_krb5_init_creds is defined %}
ldap_krb5_init_creds = {{ krb_sssd_default_domain_ldap_krb5_init_creds }}
{% endif %}
{% if krb_sssd_default_domain_ldap_krb5_ticket_lifetime is defined %}
ldap_krb5_ticket_lifetime = {{ krb_sssd_default_domain_ldap_krb5_ticket_lifetime }}
{% endif %}
{% if krb_sssd_default_domain_ldap_pwd_policy is defined %}
ldap_pwd_policy = {{ krb_sssd_default_domain_ldap_pwd_policy }}
{% endif %}
{% if krb_sssd_default_domain_ldap_referrals is defined %}
ldap_referrals = {{ krb_sssd_default_domain_ldap_referrals }}
{% endif %}
{% if krb_sssd_default_domain_ldap_dns_service_name is defined %}
ldap_dns_service_name = {{ krb_sssd_default_domain_ldap_dns_service_name }}
{% endif %}
{% if krb_sssd_default_domain_ldap_chpass_dns_service_name is defined %}
ldap_chpass_dns_service_name = {{ krb_sssd_default_domain_ldap_chpass_dns_service_name }}
{% endif %}
{% if krb_sssd_default_domain_ldap_chpass_update_last_change is defined %}
ldap_chpass_update_last_change = {{ krb_sssd_default_domain_ldap_chpass_update_last_change }}
{% endif %}
{% if krb_sssd_default_domain_ldap_access_filter is defined %}
ldap_access_filter = {{ krb_sssd_default_domain_ldap_access_filter }}
{% endif %}
{% if krb_sssd_default_domain_ldap_account_expire_policy is defined %}
ldap_account_expire_policy = {{ krb_sssd_default_domain_ldap_account_expire_policy }}
{% endif %}
{% if krb_sssd_default_domain_ldap_access_order is defined %}
ldap_access_order = {{ krb_sssd_default_domain_ldap_access_order }}
{% endif %}
{% if krb_sssd_default_domain_ldap_pwdlockout_dn is defined %}
ldap_pwdlockout_dn = {{ krb_sssd_default_domain_ldap_pwdlockout_dn }}
{% endif %}
{% if krb_sssd_default_domain_ldap_deref is defined %}
ldap_deref = {{ krb_sssd_default_domain_ldap_deref }}
{% endif %}
{% if krb_sssd_default_domain_ldap_rfc2307_fallback_to_local_users is defined %}
ldap_rfc2307_fallback_to_local_users = {{ krb_sssd_default_domain_ldap_rfc2307_fallback_to_local_users }}
{% endif %}
{% if krb_sssd_default_domain_wildcard_limit is defined %}
wildcard_limit = {{ krb_sssd_default_domain_wildcard_limit }}
{% endif %}
{% if krb_sssd_default_domain_ldap_library_debug_level is defined %}
ldap_library_debug_level = {{ krb_sssd_default_domain_ldap_library_debug_level }}
{% endif %}
{% if krb_sssd_default_domain_ldap_autofs_map_master_name is defined %}
ldap_autofs_map_master_name = {{ krb_sssd_default_domain_ldap_autofs_map_master_name }}
{% endif %}
{% if krb_sssd_default_domain_ldap_autofs_map_object_class is defined %}
ldap_autofs_map_object_class = {{ krb_sssd_default_domain_ldap_autofs_map_object_class }}
{% endif %}
{% if krb_sssd_default_domain_ldap_autofs_map_name is defined %}
ldap_autofs_map_name = {{ krb_sssd_default_domain_ldap_autofs_map_name }}
{% endif %}
{% if krb_sssd_default_domain_ldap_autofs_entry_object_class is defined %}
ldap_autofs_entry_object_class = {{ krb_sssd_default_domain_ldap_autofs_entry_object_class }}
{% endif %}
{% if krb_sssd_default_domain_ldap_autofs_entry_key is defined %}
ldap_autofs_entry_key = {{ krb_sssd_default_domain_ldap_autofs_entry_key }}
{% endif %}
{% if krb_sssd_default_domain_ldap_autofs_entry_value is defined %}
ldap_autofs_entry_value = {{ krb_sssd_default_domain_ldap_autofs_entry_value }}
{% endif %}
{% if krb_sssd_default_domain_ldap_netgroup_search_base is defined %}
ldap_netgroup_search_base = {{ krb_sssd_default_domain_ldap_netgroup_search_base }}
{% endif %}
{% if krb_sssd_default_domain_ldap_user_search_base is defined %}
ldap_user_search_base = {{ krb_sssd_default_domain_ldap_user_search_base }}
{% endif %}
{% if krb_sssd_default_domain_ldap_group_search_base is defined %}
ldap_group_search_base = {{ krb_sssd_default_domain_ldap_group_search_base }}
{% endif %}
{% if krb_sssd_default_domain_ldap_autofs_search_base is defined %}
ldap_autofs_search_base = {{ krb_sssd_default_domain_ldap_autofs_search_base }}
{% endif %}
{# "END: LDAP-depend variables" #}
{% endif %}
{# "START: Kerberos-depend variables" #}
{% if krb_sssd_default_domain_auth_provider == "krb5" %}
{# "krb5_server should be defined"
krb5_server = {% for krb_host in groups[krb_servers_group] %}{{ hostvars[krb_host]['ansible_host']}}{% if not loop.last %},{% endif %}{% endfor %}
{% if krb_sssd_default_domain_krb5_backup_server is defined %}
krb5_backup_server = {{ krb_sssd_default_domain_krb5_backup_server }}
{% endif %}
{# "krb5_realm should be defined" #}
krb5_realm = {{ krb_default_realm }}
{% if krb_sssd_default_domain_krb5_kpasswd is defined %}
krb5_kpasswd = {{ krb_sssd_default_domain_krb5_kpasswd }}
{% endif %}
{% if krb_sssd_default_domain_krb5_ccachedir is defined %}
krb5_ccachedir = {{ krb_sssd_default_domain_krb5_ccachedir }}
{% endif %}
{% if krb_sssd_default_domain_krb5_ccname_template is defined %}
krb5_ccname_template = {{ krb_sssd_default_domain_krb5_ccname_template }}
{% endif %}
{% if krb_sssd_default_domain_krb5_keytab is defined %}
krb5_keytab = {{ krb_sssd_default_domain_krb5_keytab }}
{% endif %}
{% if krb_sssd_default_domain_krb5_store_password_if_offline is defined %}
krb5_store_password_if_offline = {{ krb_sssd_default_domain_krb5_store_password_if_offline }}
{% endif %}
{% if krb_sssd_default_domain_krb5_use_fast is defined %}
krb5_use_fast = {{ krb_sssd_default_domain_krb5_use_fast }}
{% endif %}
{% if krb_sssd_default_domain_krb5_fast_principal is defined %}
krb5_fast_principal = {{ krb_sssd_default_domain_krb5_fast_principal }}
{% endif %}
{% if krb_sssd_default_domain_krb5_use_kdcinfo is defined %}
krb5_use_kdcinfo = {{ krb_sssd_default_domain_krb5_use_kdcinfo }}
{% endif %}
{% if krb_sssd_default_domain_krb5_kdcinfo_lookahead is defined %}
krb5_kdcinfo_lookahead = {{ krb_sssd_default_domain_krb5_kdcinfo_lookahead }}
{% endif %}
{% if krb_sssd_default_domain_krb5_use_enterprise_principal is defined %}
krb5_use_enterprise_principal = {{ krb_sssd_default_domain_krb5_use_enterprise_principal }}
{% endif %}
{% if krb_sssd_default_domain_krb5_use_subdomain_realm is defined %}
krb5_use_subdomain_realm = {{ krb_sssd_default_domain_krb5_use_subdomain_realm }}
{% endif %}
{% if krb_sssd_default_domain_krb5_map_user is defined %}
krb5_map_user = {{ krb_sssd_default_domain_krb5_map_user }}
{% endif %}
{% if krb_sssd_default_domain_krb5_auth_timeout is defined %}
krb5_auth_timeout = {{ krb_sssd_default_domain_krb5_auth_timeout }}
{% endif %}
{% if krb_sssd_default_domain_krb5_validate is defined %}
krb5_validate = {{ krb_sssd_default_domain_krb5_validate }}
{% endif %}
{% if krb_sssd_default_domain_krb5_renewable_lifetime is defined %}
krb5_renewable_lifetime = {{ krb_sssd_default_domain_krb5_renewable_lifetime }}
{% endif %}
{% if krb_sssd_default_domain_krb5_lifetime is defined %}
krb5_lifetime = {{ krb_sssd_default_domain_krb5_lifetime }}
{% endif %}
{% if krb_sssd_default_domain_krb5_renew_interval is defined %}
krb5_renew_interval = {{ krb_sssd_default_domain_krb5_renew_interval }}
{% endif %}
{% if krb_sssd_default_domain_krb5_canonicalize is defined %}
krb5_canonicalize = {{ krb_sssd_default_domain_krb5_canonicalize }}
{% endif %}
{# "END: Kerberos-depend variables" #}
{% endif %}
{# "END: DOMAINS" #}
{% endif %}
 
